@media (min-width: 992px){
  .header_inner{
    height: 150px;
  }
}
.search_and_nav{
  min-width: 550px;
  max-width: 650px;
}
.header_inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_background{
  background-color: rgb(32, 32, 116);
}
.search_bar{
  outline: none;
  border: none;
  width: 100%;
  border-radius: 22px;
  font-size: 16px;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
}
.navigation{
  margin-top: 25px;
  display: block;
}
.nav_list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-item{
  font-weight: 500;
  margin-left: 35px;
  padding-bottom: 20px;
  margin-bottom: -27px;
  color:#fff;
}
.logo{
  display: block;
}
.under_header{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40px;
  list-style: none;
}
.under_header_background{
  position: fixed;
  top: 140px;
  width: 100%;
  background-color: rgb(108, 108, 211);
  height: 40px;
}
.header_buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  fill: #fff;
}
.header_button{
  background-color: transparent;
  border: none;
  margin-right: auto;
  margin-left: auto;
  margin-right: 30px;
}
.button_text{
  color: #fff;
}
.content{
  margin-top: 30px;
}
.product-list_product-item {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #08335e;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  background-color: #1f4062;
}

.product-card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-card h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
  cursor: default;
}

.product-card p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
  cursor: default;
}

.product-card button {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #6369a0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product-card button:hover {
  background-color: #fff;
  color: #6369a0;
}