@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Petrona&display=swap');
html{
  overflow: scroll;
  overflow-x: hidden;
}
@media (min-width: 992px){
  .header_inner{
    height: 150px;
  }
}
.search_and_nav{
  font-family: 'Josefin Sans', sans-serif;
  min-width: 550px;
  max-width: 650px;
}
.header_inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_background{
  background-color: rgb(32, 32, 116);
}
.search_bar{
  outline: none;
  border: none;
  width: 100%;
  border-radius: 22px;
  font-size: 16px;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
}
.navigation{
  margin-top: 25px;
  display: block;
}
.nav_list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-item{
  font-weight: 500;
  margin-left: 35px;
  padding-bottom: 20px;
  margin-bottom: -27px;
  color:#fff;
  font-size: 16px;
}
.nav-item:hover{
  color: rgb(156, 156, 240);
  transform: scale(1.08);
}
a{
  text-decoration: none !important;
  fill:  rgb(156, 156, 240) !important;
  color: #fff !important;
}
.logo{
  margin-top: 15px;
  display: block;
  width: 200px;
}
.under_header{
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40px;
  list-style: none;
  font-weight: 400;
}
.under_header_background{
  color: rgb(32, 32, 116);
  top: 140px;
  width: 100%;
  background-color: rgb(156, 156, 240);
  height: 40px;
}
.header_buttons{
  font-family: 'Josefin Sans', sans-serif;
  margin-right: 20px;
  display: flex;
  fill:  rgb(156, 156, 240);
  text-align: center;
  width: 200px;
  justify-content: flex-end;
}
.header_button{
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 66px; 
}
.header__button-icon{
   width: 25px;  
}
.button_text{
  color:  rgb(156, 156, 240);
}
.content{
  margin-top: 30px;
  text-align: center;
}
.product-list_product-item {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(22, 22, 54, 0.3);
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 70px rgba(32, 32, 116, 0.4);
  background-color:  rgb(239, 242, 255);
}
.product-card_image{
  object-fit: cover;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.product-card img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.product-card h2 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 10px;
  cursor: default;
}

.product-card p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: rgb(119, 119, 209);
  font-weight: 500;
  margin-bottom: 10px;
  cursor: default;
}

.product-card button {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #6369a0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product-card button:hover {
  background-color: #fff;
  color: #6369a0;
}
.login-modal{
  z-index: 10;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 120px;
  background-color: #fff;
  border-radius: 18px;
  display: flex;
  right: 235px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}
.login-modal button{
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 8px;
  border-color: rgb(32, 32, 116) ;
  background-color: rgb(32, 32, 116);
  color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);
  font-weight: 400;
  border-style: solid;
}
.login_form{
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 5px;
  align-items: center;
  justify-content: center; 
}
.login_form input{
  margin: 9px;
}
.login_form button{
  display: inline-block !important;
  margin: 0 5px !important;
}
h1{
  text-align: center;
  font-size: 35px;
}
.arrow{
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-color: transparent;
  border-style: solid;
  border-bottom-color: #ffffff;
  position: absolute;
  top: -8px;
}

.bubble_left{
  position: absolute;
  left: 0;
  opacity: 40%;
  mask-image:linear-gradient(to right,  rgba(0,0,0,01), rgba(0,0,0,0));
}
.bubble_right{
  position: absolute;
  right: 0;
  opacity: 40%;
  mask-image:linear-gradient(to left,  rgba(0,0,0,01), rgba(0,0,0,0));
}
.send-to-cart.cart-item {
  display: block;
  animation: moveToPoint 0.6s forwards cubic-bezier(1, 0.44, 0.84, 0.165);
}

@keyframes moveToPoint {
  0% {
    transform: translate(0);
    opacity: 1; /* Start with full opacity */
  }

  100% {
    transform: translate(130px);
    opacity: 0; /* End with zero opacity */
  }
}

.cart-item::before {
  content: "";
  display: block;
}
.cart-item{
   fill: #6369a0 !important;
}

.slideshow-container {
  position: relative;
  max-width: 600px;
  margin: auto;
}
.slideshow-images {
  overflow: hidden;
  border-radius: 8px;
}
.slideshow-images img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease; /* Smooth transition */
  transform: translateX(-100%);
}
.slideshow-images img.active {
  transform: translateX(0);
}
.circle-navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #aaa;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}
.circle.active {
  background-color: #333;
}

.footer{
  display: flex;
  justify-content: space-evenly; /* Adjust this based on your layout preferences */
}
.footer-background{
  background-color: rgb(32, 32, 116);
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
  margin-top: 50px;
}
.footer-column-clickable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  fill:  #fff;
  cursor: pointer;
}
.footer-column-clickable:hover{
  color: rgb(156, 156, 240);
  transform: scale(1.15);
}
.footer-column-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  fill:  #fff;
}
.facebook-icon:hover{
  fill: rgb(156, 156, 240);
  transform: scale(1.15);
  cursor: pointer;
}
.instagram-icon:hover{
  fill: rgb(156, 156, 240);
  transform: scale(1.15);
  cursor: pointer;
}
.youtube-icon:hover{
  fill: rgb(156, 156, 240);
  transform: scale(1.15);
  cursor: pointer;
}

.loginError{
  color: red; 
  margin-bottom: 10px;
}

.ErrorImage{
  max-width: 55% !important;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ErrorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.linkText{
  color: #086bff !important;
}